<template id="failed-state">
  <div class="failed-state">
    <p data-trans-text="failed.fetchFeedsFailedReloadButton">
      Failed to fetch feeds. Please check permissions.
    </p>
    <button
      data-trans-text="failed.reloadFeedsButton"
      class="failed-state__reload"
    >
      Try Again
    </button>
  </div>
</template>

<template id="failed-state_type_no-access">
  <div class="failed-state">
    <p data-trans-text="failed.fetchFeedsNoAccess">
      No access
    </p>
  </div>
</template>
