feed-list {
  height: auto;
  display: flex;

  justify-content: center;
  overflow: scroll;
}

.feeds {
  height: 100%;
  display: flex;
}

.feeds__group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 12px;
}

.feed {
  display: flex;
  position: relative;

  flex-direction: column;
  background-color: var(--list-item-bg);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;

  min-width: 280px;
}

.feed .feed__disclaimer {
  display: none;

  position: absolute;
  cursor: pointer;
  right: 12px;
}

.feed.feed_type_derived .feed__disclaimer {
  display: inline;
}

.feed + .feed {
  margin-top: 16px;
}

.feed__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.feed_state_empty {
  width: 90%;

  align-self: center;
  text-align: center;
}

.feed_state_empty pre {
  font-size: 32px;
}

@media (orientation: portrait) {
  .feed__name {
    max-width: max(calc(100% - 32px), 320px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
