.settings__dialog {
  background-color: var(--body-bg);
  color: var(--body-text);

  min-width: 80%;
}

.settings__title {
  margin: 0 0 16px 0;
  position: relative;
}

.settings__close-button {
  position: absolute;
  right: 0px;
  top: 0px;
}

.settings__footer {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

.settings__dialog label {
  display: block;
}

.settings__form {
  font-size: 0.75em;
}

.settings__error-message {
  font-weight: 700;
}

.settings__form h3 {
  margin: 8px 0 0 0;
}

.settings__group input {
  width: 80%;
}

.settings__hint {
  margin: 4px 0;
}
